@model RuleEngineCodeEffectsSandbox.Dto.CreditCardDepositDto

<div>
    <div>
        <div class="row">
            <div>Client Id:</div>
            <div>@Html.TextBoxFor(m => m.ClientRoleId)</div>
        </div>
        <div class="row">
            <div>Customer Id:</div>
            <div>@Html.TextBoxFor(m => m.CustomerId)</div>
        </div>
        <div class="row">
            <div>Customer - First Name:</div>
            <div>@Html.TextBoxFor(m => m.CustomerFirstName)</div>
        </div>
        <div class="row">
            <div>Customer - Last Name:</div>
            <div>@Html.TextBoxFor(m => m.CustomerLastName)</div>
        </div>
        
        <br/>

        <div class="row">
            <div>Credit Card - First Name:</div>
            <div>@Html.TextBoxFor(m => m.CcFirstName)</div>
        </div>
        <div class="row">
            <div>Credit Card - Last Name:</div>
            <div>@Html.TextBoxFor(m => m.CcLastName)</div>
        </div>
        <div class="row">
            <div>Credit Card Number:</div>
            <div>@Html.TextBoxFor(m => m.CcNumber)</div>
        </div>
        <div class="row">
            <div>Deposit Amount:</div>
            <div>@Html.TextBoxFor(m => m.DepositAmount)</div>
        </div>

        <br/>

        @if (Model?.NotificationMessages != null)
        {
            foreach (var message in Model.NotificationMessages)
            {
                @message;
            }
        }
    </div>
    <div style="text-align:right;margin-top:10px;"><input type="submit" id="Button" name="Button" value="Test" class="button" /></div>
    
    <div class="clear"></div>
</div>
